html, body{
	font-family: trebuchet, arial, verdana, sans-serif;
	height: 100%;
	margin: 0px;

}

h1 {
	color: #666666;
	margin-bottom: -15px;
	font-size: 350%;
	text-align:center;
	padding-bottom:30px;
}


h2 {
	color: white;
	margin-bottom: -15px;
	background-color: lightgrey;
	padding: 200px 0px 200px 0px;
	text-align:center;
	font-size: 250%;
	margin: 20px 0;
	
}

h3 {
	color: #89a1bb;
	margin-bottom: -1px;
	margin-top: -2px;
	/*padding-left: 20px;*/
	text-align:center;
	
}

p {
	color: #444444;
	text-align:justify;
	font-size: 120%;
	width: 60%;
	margin:auto;
}

blockquote{
	color: #666666;
	font-family: courier;
	padding: 5px 50px 5px 50px;
	font-size: 110%
}

ul {
    color: #45291d;
}

li{
    color: #45291d;
    margin: 35px 10px 20px 10px;
}

.image{
	margin:20px;
	padding-bottom: 10px;
	display: inline;
	margin-top: 20px;
}

img[alt=Calvius] {
	height: 450px;
	float: left;
	position: absolute;
	left: 0px;
	margin-top: 15px;
}

img[alt=giornale1] {
	height: 350px;
	float: left;
	left: 0px;
	margin-top: 15px;
	margin-right:15px;
}

img[alt=giornale2] {
	height: 350px;
	position: absolute;
	margin-top: 15px;
	margin-right:15px;
}

img[alt=giornale3] {
	height: 350px;
	float: right;
	right: 0px;
	margin-top: 15px;
	margin-left:15px;
}



img {
	max-height:450px;
}


img[alt=titologiornale] {
	width: 90%;
	margin: auto;	
}
